<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p>Adress: <%= @restaurant.address %></p>
  <p>Phone number: <%= @restaurant.phone_number %></p>
  <p>Food style: <%= @restaurant.category %></p>

  <%= link_to 'Back to list', restaurants_path %>
</div>
